body {
    background-color: rgb(60, 60, 60);
    display: block;
    color: #feffff;
  }
  .banner{
    font-size: 48px;
    text-align: center;
    color: yellow;
    background-image: url(https://wallpaper-house.com/data/out/9/wallpaper2you_362622.jpg);
  }
  h1, h2, h3, h4, h5 {
    color: pink;
    font-family: verdana;
    font-size: 150%;
  }
  p {
    font-family: courier;
    color: rgb(187, 187, 240);
  }
  
  nav {
    float: left;
    width: 100%;
    /* height: 50px; only for demonstration, should be removed */

    padding: 10px;
    list-style-type: none;
    display: flex;
  
    position: sticky; 
    align-items: center;
    justify-content: center;
    top: 0px;
    cursor: pointer;
    
  }
  nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  nav li {
    float: left;
    color: aliceblue;
    display: flex;
  }



  .logo img {
    width: 60px;
    height: 60px;
  }

  #requirements li{
    color:aliceblue;
  }

  table { 
    color: aquamarine;
  }
  
  .menu li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

   a:link, a:visited{
    color: #feffff;
  }
 
  #submission img[src="planets.jpeg"] {
    display: block;
    margin: auto;
  }

  #task img{
    display: flex;
    justify-content: center;
  }

  .name{
    text-decoration: none;
    display: flex;
    justify-content: center;
  }

  footer{
    display: inline;
  }

  iframe{
    width: 200px;
  }

  footer div{
    margin: 20px;
  }

  .categories ul{
    columns: 2;
  }

  @media (max-width: 850px) {
   
    .banner img {
      flex: auto;
      max-width: fit-content;
      max-height: fit-content;
    }
  
    a img {
      flex: auto;
      max-width: max-content;
      max-height: max-content;
    }

    nav {
      position: static;
    }

    
  }
  
  @media screen and (max-width: 576px) {
    body {
      background-color: black;
      padding: 0;
      margin: 0;
    }

    .menu {
      flex-direction: column;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    .menu li {
      align-self: center;
    }

    .menu li a {
      margin: 0;
      padding: 0;
      align-items: center;
    }

    nav {
      flex-direction: column;
      padding: 0;
    }

    .menu ul {
      flex-direction: column;
      padding: 0;
    }

    .menu a {
      display: flex;
    }

    p {
      padding: 0;
      margin: 0;
    }

    footer {
      padding: 0;
      margin: 0;
    }

    #task img {
      width: 100%;
      margin-left: 0;
      object-fit: cover;
    }
    
    .info img {
      width: 100%;
      object-fit: cover;
    }

   
  
  }
  